---
title: Resources to grow your email campaigns
description: "We believe that a good email marketing strategy is the key to growth. So we’re helping you grow your business with tools and resources that make email marketing easy."
seo:
  page_description: "The stats are in our favour. SaaSFlow doesn't just help you with your email marketing, we get you customer relationships that last."
  canonical_url: 
  featured_image: 
  author_twitter_handle: 
  open_graph_type: 
  noindex: false
layout: blog
---

{% for blog in paginator.posts %}
<div class="col-lg-4 col-md-6">
  <article class="blog-post">
    <div class="blog-post-thumb">
      <a href="{{ blog.url }}">
        <img
          src="{{ blog.thumb_img.image_path }}"
          alt="blog-thumb"
          loading="lazy" />
      </a>
    </div>
    <div class="blog-post-content">
      <div class="blog-post-tag @@category">
        {% for tag in blog.tags limit: 2 %}
        <a href="/tags/{{ tag }}/">{{ tag }}</a>
        {% endfor %}
      </div>
      <div class="blog-post-title">
        <a href="{{ blog.url }}" class="">{{blog.title}}</a>
      </div>
    </div>
  </article>
</div>
{% endfor %} {%- if paginator.total_pages > 1 -%}
<nav class="blog-pagination">
  <ul class="pagination">
    {% if paginator.previous_page %}
    <li class="page-item">
      <a
        class="page-link btn btn-secondary"
        href="{{paginator.previous_page_path}}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.657"
          height="11.314"
          viewBox="0 0 20.657 11.314"
          style="transform: scale(-1, 1)">
          <g fill="#fff" data-name="Group 12">
            <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
            <path
              d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
              data-name="Rectangle 2401"></path>
            <path
              d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
              data-name="Rectangle 2402"></path>
          </g>
        </svg>
      </a>
    </li>
    {% endif %} {% for pageEntry in (1..paginator.total_pages) %}
    <li class="page-item">
      <a
        class="page-link btn btn-secondary {% if pageEntry == paginator.page %}active{% endif %}"
        href="{%- if pageEntry == 1 -%}
        {{ '/blog' | relative_url }}
        {%- else -%}
        {{ 'blog/page' | append: pageEntry | relative_url }}
      {%- endif -%}"
        >{{forloop.index}}</a
      >
    </li>
    {% endfor %} {% if paginator.next_page %}
    <li class="page-item">
      <a
        class="page-link btn btn-secondary"
        href="{{ paginator.next_page_path }}">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20.657"
          height="11.314"
          viewBox="0 0 20.657 11.314">
          <g fill="#fff" data-name="Group 12">
            <path d="M0 4.657h18v2H0z" data-name="Rectangle 2400"></path>
            <path
              d="M13.586 9.9l5.6568542-5.6568542 1.4142136 1.4142135-5.6568542 5.6568543z"
              data-name="Rectangle 2401"></path>
            <path
              d="M15 0l5.6568542 5.6568542-1.4142135 1.4142136-5.6568543-5.6568542z"
              data-name="Rectangle 2402"></path>
          </g>
        </svg>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
{%- endif -%}
