{% include head.html %}
<main>
  <section
    class="blog-hero pt-xl-22 pt-sm-20 pt-18 pb-xxl-25 pb-xl-23 pb-22 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">
          <div class="blog-hero-content">
            <h1 class="blog-hero-title">{{page.title}}</h1>
            {{page.description | markdownify }}
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog @@padding @@blog-two">
    <div class="container">
      <div class="row">{{content}}</div>
    </div>
  </section>
</main>
{% include tail.html %}
