{% include head.html %}
<main>
  <section
    class="blog-hero pt-xl-22 pt-sm-20 pt-18 pb-xxl-25 pb-xl-23 pb-22 position-relative">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10 mx-auto">
          <div class="blog-hero-content">
            <h1 class="blog-hero-title">{{page.title}}</h1>
            <p>Archive of posts with {{ page.type }} '{{ page.title }}'</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="blog @@padding @@blog-two pb-xl-22 pb-sm-20 pb-18">
    <div class="container">
      <div class="row">
        {% for blog in page.posts %}
        <div class="col-lg-4 col-md-6">
          <article class="blog-post">
            <div class="blog-post-thumb">
              <a href="{{ blog.url }}">
                <img
                  src="{{ blog.thumb_img.image }}"
                  alt="{{ blog.thumb_img.image_alt }}"
                  loading="lazy" />
              </a>
            </div>
            <div class="blog-post-content">
              <div class="blog-post-tag @@category">
                {% for tag in blog.tags limit: 2 %}
                <a href="/tags/{{ tag }}/">{{ tag }}</a>
                {% endfor %}
              </div>
              <div class="blog-post-title">
                <a href="{{ blog.url }}" class="">{{blog.title}}</a>
              </div>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
{% include tail.html %}
